/* ==UserStyle==
@name           Youtube ask
@namespace      ipwnponies
@version        1.1.1
@description    Make the ask panel a full-screen modal
==/UserStyle== */

@-moz-document url-prefix("https://www.youtube.com/watch?v=") {

    /* #primary is video, #secondary are panels. increase z-index priority for stacking context */
    #secondary {
        z-index: calc(var(--z-index) + 100);
        /* This is parent container of ask content, fix it so that it floats and isn't in a corner */
        #panels {
            position: fixed !important;
            width: 80vw;
            left: 10vw;
            top: 10vh;
            opacity: 80%;
            transition-duration: 1s;
        }

        #panels:hover {
            opacity: 100%;
            transition-duration: 0.5s;
        }
    }

    /* This is the ask panel, make it full height */
    ytd-engagement-panel-section-list-renderer {
        height: 80vh;
        /* Override their cap */
        max-height: unset !important;
    }
}
